* {
  transition: all .25s ease-out;
}

html {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  color: var(--body-color, #5f5c61);
  background-color: var(--body-bg);
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#app p{
  color: var(--bio-color);
}

#app a, #app svg{
  color: var(--link-bio-color);
}

.home-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home-menu-item {
  margin: 0.5rem 1rem;
  padding: 1rem;
  transition: all .25s ease-in-out;
}

.home-menu-item:hover, .home-menu-item:focus {
  transform: scale(1.1);
}

.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--header-bg);
}

.menu-item {
  margin: 0.25rem;
  padding: 1rem;
  transition: all .25s ease-in-out;
}

.menu-item:hover, .menu-item:focus {
  transform: scale(1.1);
}

.social svg {
  color: var(--footer-svg-color);
  width: 1.5rem;
  height: 1.5rem;
}

.social ul {
  list-style-type: none;
  display: flex;
  margin: 0 2rem;
  padding: 0;
}

.social ul li {
  margin: 0 .25rem;
  padding: .5rem;
}

footer {
  color: var(--footer-color);
  background-color: var(--footer-bg);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.stack span {
  border-radius: 8px;
  margin: .25rem;
  padding: .25rem;
  background: var(--info-bg);
  color: white;
}

.theme-picker {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: .5rem;
  height: 19rem;
  flex-basis: 20rem;
  position: relative;
  border-radius: 12px;
  -webkit-box-shadow: 0px 10px 11px -7px rgba(130, 121, 130, 1);
  -moz-box-shadow: 0px 10px 11px -7px rgba(130, 121, 130, 1);
  box-shadow: 0px 10px 11px -7px rgba(130, 121, 130, 1);
  transition: box-shadow .3s ease;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.card:hover, .card:focus {
  -webkit-box-shadow: 0px 10px 35px -7px rgba(130, 121, 130, 1);
  -moz-box-shadow: 0px 10px 35px -7px rgba(130, 121, 130, 1);
  box-shadow: 0px 10px 35px -7px rgba(130, 121, 130, 1);
}

.info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: var(--info-bg);
  color: var(--info-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 12px;
  transition: all .25s ease-in;
}

.info button {
  margin: 0;
}

.card:hover .info {
  opacity: 1;
}

@supports (display: grid) {
  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    grid-auto-rows: 17.6rem;
    grid-gap: 2rem;
  }
  .card {
    border-radius: 12px;
    margin: 0;
    height: auto;
  }
  .title-decoration {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
  }
  .title-decoration::before, .title-decoration::after {
    content: '';
    margin: 0 .5rem;
    height: 2px;
    background-color: var(--title-bar-color);
  }
  @media(max-width:380px) {
    .projects {
      display: inline-block;
    }
    .card {
      margin: .5rem;
      height: 19rem;
    }
  }
}

body {
  font-size: calc(15px + .15vw)
}

/* Scrollbar */

body::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bg);
}

body::-webkit-scrollbar {
  border-left: 1px solid #E6ECF8;
  width: 7px;
}

.sr-only {
  position: absolute;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: .75rem;
  border: 1px solid #888;
  width: 90%;
}

@media (min-width:850px) {
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 1rem;
    border: 1px solid #888;
    width: 80%;
  }
  .modal-content h2 {
    margin: 2rem 0;
  }
  .stack {
    margin: 1rem 0;
  }
  .stack span {
    border-radius: 8px;
    margin: .5rem;
    padding: .5rem;
    background: var(--info-bg);
    color: white;
  }
}

.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding: .15rem .5rem;
  margin: .5rem 0;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}