.default {
    /* ----Page---- */
    --font-size: 100%;
    --font-family: 'Lato', sans-serif;
    --letter-spacing: 0.12em;
    --line-height: 1.5rem;
    --letter-spacing: 0.05rem;
    --word-spacing: 0.16rem;
    --html-width: 100%;
    --body-width:100%;
    --body-height:100%;
    --body-margin:100%;
    --body-bg:none;
    --body-color:#1d2120;
  
    /*----Headings----*/
    --h1-size: 2.5rem;
    --h2-size: 2rem;
    --h3-size: 1.75rem;
    --h4-size: 1.5rem;
    --h5-size: 1.25rem;
    --h6-size: 1rem;
    --h1-color: black;
    --h2-color: black;
    --h3-color: black;
    --h4-color: black;
    --h5-color: black;
    --h6-color: black;
    --h1-margin: 0;
    --h2-margin: 0;
    --h3-margin: 0;
    --h4-margin: 0;
    --h5-margin: 0;
    --h6-margin: 0;
    --h1-padding: 1rem;
    --h2-padding: 0;
    --h3-padding: 1rem;
    --h4-padding: 1rem;
    --h5-padding: 1rem;
    --h6-padding: 1rem;
    --h1-lineh: 1;
    --h2-lineh: 1;
    --h3-lineh: 1;
    --h4-lineh: 1;
    --h5-lineh: 1;
    --h6-lineh: 1;
    /*----Buttons------*/
    --btn-marg: 1rem 0;
    --btn-pad: .5rem .75rem;
    --btn-color: white;
    --btn-bg: blue;
    --btn-border: none;
    --btn-bradius: 4px;
    --btn-cursor: auto;
    --btn-hover-color: white;
    --btn-hover-bg: red;
    --btn-transition: all .25s ease;
    --btn-success-color: white;
    --btn-success-bg: black;
    --btn-success-hover-color: white;
    --btn-success-hover-bg: rgb(3, 51, 3);
    --btn-danger-color: white;
    --btn-danger-bg: red;
    --btn-danger-hover-color: white;
    --btn-danger-hover-bg: rgb(175, 31, 103);
    --btn-disabled-bg: #E6E6E6;
    --btn-disabled-color: rgb(66, 62, 62);
    --summary-color: white;
    --summary-bg: #7c6868;
    --details-color: white;
    --details-bg: #4c3da3;
    /*----Links-----*/
    --a-color: blue;
    --a-bg: transparent;
    --a-underline: none;
    /*-----Grid------*/
    --col-count: 12;
    --container-margin: 0 auto;
    --container-width: 90%;
    --grid-gap: 1.5rem;
    /*-----Text-------*/
    --selection-color: white;
    --selection-bg: rgb(10, 27, 21);
    /*-----Forms----*/
    --select-padding: .25rem;
    --select-border-radius: 3px;
    --option-padding: .25rem;
    --option-bg: white;
    --option-color: black;
    /*----Tables----*/
    --table-width: 100%;
    --table-margin: 1rem 0;
    --table-padding: 1rem;
    --table-border: 2px solid #f7f7f9;
    --table-border-spacing: 0;
    --thead-align: center;
    --thead-color: black;
    --thead-bg: white;
    --table-striped-bg: rgba(0, 0, 0, .05);
    --table-bordered: 1px solid #cbcbcb;
    --table-horizontal-border: 1px solid #cbcbcb;
    --td-padding: .25rem;
    /*----Screen size----*/
    --large: 70rem;
    --medium: 50rem;
    --small: 40rem;
    /* Portfolio related */
    --header-bg:#1D1924;
    --footer-svg-color:#28353D;
    --footer-color:#28353D;
    --footer-bg: #F2C47A;
    --info-bg:  linear-gradient(to right bottom, #9B4C47, #EEC57C);
    /* https://mycolor.space/gradient?ori=to+right+bottom&hex=%23BAC5D6&hex2=%23219ED3&sub=1 */
    --title-bar-color:#EEE82C;
    --info-color:black;
    --scroll-bg: #293347;
  }
  .cold-warm {
    /* ----Page---- */
    --font-size: 100%;
    --font-family: 'Lato', sans-serif;
    --letter-spacing: 0.12em;
    --line-height: 1.5rem;
    --letter-spacing: 0.05rem;
    --word-spacing: 0.16rem;
    --html-width: 100%;
    --body-width:100%;
    --body-height:100%;
    --body-margin:100%;
    --body-bg:none;
    --body-color:#1d2120;
  
    /*----Headings----*/
    --h1-size: 2.5rem;
    --h2-size: 2rem;
    --h3-size: 1.75rem;
    --h4-size: 1.5rem;
    --h5-size: 1.25rem;
    --h6-size: 1rem;
    --h1-color: black;
    --h2-color: black;
    --h3-color: black;
    --h4-color: black;
    --h5-color: black;
    --h6-color: black;
    --h1-margin: 0;
    --h2-margin: 0;
    --h3-margin: 0;
    --h4-margin: 0;
    --h5-margin: 0;
    --h6-margin: 0;
    --h1-padding: 1rem;
    --h2-padding: 0;
    --h3-padding: 1rem;
    --h4-padding: 1rem;
    --h5-padding: 1rem;
    --h6-padding: 1rem;
    --h1-lineh: 1;
    --h2-lineh: 1;
    --h3-lineh: 1;
    --h4-lineh: 1;
    --h5-lineh: 1;
    --h6-lineh: 1;
    /*----Buttons------*/
    --btn-marg: 1rem 0;
    --btn-pad: .5rem .75rem;
    --btn-color: white;
    --btn-bg: blue;
    --btn-border: none;
    --btn-bradius: 4px;
    --btn-cursor: auto;
    --btn-hover-color: white;
    --btn-hover-bg: red;
    --btn-transition: all .25s ease;
    --btn-success-color: white;
    --btn-success-bg: black;
    --btn-success-hover-color: white;
    --btn-success-hover-bg: rgb(3, 51, 3);
    --btn-danger-color: white;
    --btn-danger-bg: red;
    --btn-danger-hover-color: white;
    --btn-danger-hover-bg: rgb(175, 31, 103);
    --btn-disabled-bg: #E6E6E6;
    --btn-disabled-color: rgb(66, 62, 62);
    --summary-color: white;
    --summary-bg: #7c6868;
    --details-color: white;
    --details-bg: #4c3da3;
    /*----Links-----*/
    --a-color: blue;
    --a-bg: transparent;
    --a-underline: none;
    /*-----Grid------*/
    --col-count: 12;
    --container-margin: 0 auto;
    --container-width: 90%;
    --grid-gap: 1.5rem;
    /*-----Text-------*/
    --selection-color: white;
    --selection-bg: rgb(10, 27, 21);
    /*-----Forms----*/
    --select-padding: .25rem;
    --select-border-radius: 3px;
    --option-padding: .25rem;
    --option-bg: white;
    --option-color: black;
    /*----Tables----*/
    --table-width: 100%;
    --table-margin: 1rem 0;
    --table-padding: 1rem;
    --table-border: 2px solid #f7f7f9;
    --table-border-spacing: 0;
    --thead-align: center;
    --thead-color: black;
    --thead-bg: white;
    --table-striped-bg: rgba(0, 0, 0, .05);
    --table-bordered: 1px solid #cbcbcb;
    --table-horizontal-border: 1px solid #cbcbcb;
    --td-padding: .25rem;
    /*----Screen size----*/
    --large: 70rem;
    --medium: 50rem;
    --small: 40rem;
    /* Portfolio related */
    --header-bg:red;
    --footer-svg-color:yellow;
    --footer-color:white;
    --footer-bg: red;
    --info-bg:  linear-gradient(to right bottom, #42f1d0, #0740a7);
    /* https://mycolor.space/gradient?ori=to+right+bottom&hex=%23BAC5D6&hex2=%23219ED3&sub=1 */
    --title-bar-color:#EEE82C;
    --info-color:black;
    --scroll-bg: #293347;
  }
  
  .dark-pink {
    /* ----Page---- */
    --font-size: 100%;
    --font-family: 'Lato', sans-serif;
    --letter-spacing: 0.12em;
    --line-height: 1.5rem;
    --letter-spacing: 0.05rem;
    --word-spacing: 0.16rem;
    --html-width: 100%;
    --body-width:100%;
    --body-height:100%;
    --body-margin:100%;
    --body-bg:none;
    --body-color:#1d2120;
  
    /*----Headings----*/
    --h1-size: 2.5rem;
    --h2-size: 2rem;
    --h3-size: 1.75rem;
    --h4-size: 1.5rem;
    --h5-size: 1.25rem;
    --h6-size: 1rem;
    --h1-color: black;
    --h2-color: black;
    --h3-color: black;
    --h4-color: black;
    --h5-color: black;
    --h6-color: black;
    --h1-margin: 0;
    --h2-margin: 0;
    --h3-margin: 0;
    --h4-margin: 0;
    --h5-margin: 0;
    --h6-margin: 0;
    --h1-padding: 1rem;
    --h2-padding: 0;
    --h3-padding: 1rem;
    --h4-padding: 1rem;
    --h5-padding: 1rem;
    --h6-padding: 1rem;
    --h1-lineh: 1;
    --h2-lineh: 1;
    --h3-lineh: 1;
    --h4-lineh: 1;
    --h5-lineh: 1;
    --h6-lineh: 1;
    /*----Buttons------*/
    --btn-marg: 1rem 0;
    --btn-pad: .5rem .75rem;
    --btn-color: white;
    --btn-bg: blue;
    --btn-border: none;
    --btn-bradius: 4px;
    --btn-cursor: auto;
    --btn-hover-color: white;
    --btn-hover-bg: red;
    --btn-transition: all .25s ease;
    --btn-success-color: white;
    --btn-success-bg: black;
    --btn-success-hover-color: white;
    --btn-success-hover-bg: rgb(3, 51, 3);
    --btn-danger-color: white;
    --btn-danger-bg: red;
    --btn-danger-hover-color: white;
    --btn-danger-hover-bg: rgb(175, 31, 103);
    --btn-disabled-bg: #E6E6E6;
    --btn-disabled-color: rgb(66, 62, 62);
    --summary-color: white;
    --summary-bg: #7c6868;
    --details-color: white;
    --details-bg: #4c3da3;
    /*----Links-----*/
    --a-color: blue;
    --a-bg: transparent;
    --a-underline: none;
    /*-----Grid------*/
    --col-count: 12;
    --container-margin: 0 auto;
    --container-width: 90%;
    --grid-gap: 1.5rem;
    /*-----Text-------*/
    --selection-color: white;
    --selection-bg: rgb(10, 27, 21);
    /*-----Forms----*/
    --select-padding: .25rem;
    --select-border-radius: 3px;
    --option-padding: .25rem;
    --option-bg: white;
    --option-color: black;
    /*----Tables----*/
    --table-width: 100%;
    --table-margin: 1rem 0;
    --table-padding: 1rem;
    --table-border: 2px solid #f7f7f9;
    --table-border-spacing: 0;
    --thead-align: center;
    --thead-color: black;
    --thead-bg: white;
    --table-striped-bg: rgba(0, 0, 0, .05);
    --table-bordered: 1px solid #cbcbcb;
    --table-horizontal-border: 1px solid #cbcbcb;
    --td-padding: .25rem;
    /*----Screen size----*/
    --large: 70rem;
    --medium: 50rem;
    --small: 40rem;
    /* Portfolio related */
    --header-bg:#000000;
    --footer-svg-color:#494949;
    --footer-color:#7C7A7A;
    --footer-bg: #FF5D73;
    --info-bg:  linear-gradient(to right bottom, #FFFFFF, #FF5D73);
    /* https://mycolor.space/gradient?ori=to+right+bottom&hex=%23BAC5D6&hex2=%23219ED3&sub=1 */
    --title-bar-color:#EEE82C;
    --info-color:black;
    --scroll-bg: #7C7A7A;
  }

  
  .veggie {
    /* ----Page---- */
    --font-size: 100%;
    --font-family: 'Lato', sans-serif;
    --letter-spacing: 0.12em;
    --line-height: 1.5rem;
    --letter-spacing: 0.05rem;
    --word-spacing: 0.16rem;
    --html-width: 100%;
    --body-width:100%;
    --body-height:100%;
    --body-margin:100%;
    --body-bg:none;
    --body-color:#1d2120;
  
    /*----Headings----*/
    --h1-size: 2.5rem;
    --h2-size: 2rem;
    --h3-size: 1.75rem;
    --h4-size: 1.5rem;
    --h5-size: 1.25rem;
    --h6-size: 1rem;
    --h1-color: black;
    --h2-color: black;
    --h3-color: black;
    --h4-color: black;
    --h5-color: black;
    --h6-color: black;
    --h1-margin: 0;
    --h2-margin: 0;
    --h3-margin: 0;
    --h4-margin: 0;
    --h5-margin: 0;
    --h6-margin: 0;
    --h1-padding: 1rem;
    --h2-padding: 0;
    --h3-padding: 1rem;
    --h4-padding: 1rem;
    --h5-padding: 1rem;
    --h6-padding: 1rem;
    --h1-lineh: 1;
    --h2-lineh: 1;
    --h3-lineh: 1;
    --h4-lineh: 1;
    --h5-lineh: 1;
    --h6-lineh: 1;
    /*----Buttons------*/
    --btn-marg: 1rem 0;
    --btn-pad: .5rem .75rem;
    --btn-color: white;
    --btn-bg: blue;
    --btn-border: none;
    --btn-bradius: 4px;
    --btn-cursor: auto;
    --btn-hover-color: white;
    --btn-hover-bg: red;
    --btn-transition: all .25s ease;
    --btn-success-color: white;
    --btn-success-bg: black;
    --btn-success-hover-color: white;
    --btn-success-hover-bg: rgb(3, 51, 3);
    --btn-danger-color: white;
    --btn-danger-bg: red;
    --btn-danger-hover-color: white;
    --btn-danger-hover-bg: rgb(175, 31, 103);
    --btn-disabled-bg: #E6E6E6;
    --btn-disabled-color: rgb(66, 62, 62);
    --summary-color: white;
    --summary-bg: #7c6868;
    --details-color: white;
    --details-bg: #4c3da3;
    /*----Links-----*/
    --a-color: blue;
    --a-bg: transparent;
    --a-underline: none;
    /*-----Grid------*/
    --col-count: 12;
    --container-margin: 0 auto;
    --container-width: 90%;
    --grid-gap: 1.5rem;
    /*-----Text-------*/
    --selection-color: white;
    --selection-bg: rgb(10, 27, 21);
    /*-----Forms----*/
    --select-padding: .25rem;
    --select-border-radius: 3px;
    --option-padding: .25rem;
    --option-bg: white;
    --option-color: black;
    /*----Tables----*/
    --table-width: 100%;
    --table-margin: 1rem 0;
    --table-padding: 1rem;
    --table-border: 2px solid #f7f7f9;
    --table-border-spacing: 0;
    --thead-align: center;
    --thead-color: black;
    --thead-bg: white;
    --table-striped-bg: rgba(0, 0, 0, .05);
    --table-bordered: 1px solid #cbcbcb;
    --table-horizontal-border: 1px solid #cbcbcb;
    --td-padding: .25rem;
    /*----Screen size----*/
    --large: 70rem;
    --medium: 50rem;
    --small: 40rem;
    /* Portfolio related */
    --header-bg:#19381F;
    --footer-svg-color:#EEE82C;
    --footer-color:#EEE82C;
    --footer-bg: #4C934C;
    --info-bg:  linear-gradient(to right bottom, #EEE82C, #91CB3E);
    /* https://mycolor.space/gradient?ori=to+right+bottom&hex=%23BAC5D6&hex2=%23219ED3&sub=1 */
    --title-bar-color:#EEE82C;
    --info-color:black;
    --scroll-bg: #293347;
  }
